<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    






    <script>
        const anno= 2022;

        const cento= 100;

        let annoPersona;

        annoPersona = prompt('Inserisci il tuo anno di nascita');

        let calcoloAnni;

        calcoloAnni = ( anno - annoPersona);

        alert('Hai esattamente ' + calcoloAnni);

        let arrivo100;

         arrivo100 = ( cento - calcoloAnni);

         alert('Ti mancano esattamente ' + arrivo100 + 'anni per arrivare ai 100');
    </script>
</body>
</html>